<h3 class="title">Cadastrar Clientes</h3>
<mat-divider class="divider"></mat-divider>

<mat-card class="mat-elevation-z8 entry-card">
    <form [formGroup]="registerForm" class="entry-form">
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Cliente</mat-label>
                <input matInput formControlName="name">
                <mat-icon matSuffix>business</mat-icon>
                <mat-error *ngIf="registerForm.get('name')?.hasError('required')">
                    Company Name is required.
                </mat-error>
                <mat-error *ngIf="registerForm.get('name')?.hasError('maxlength')">
                    Company Name must not exceed 30 characters.
                </mat-error>
            </mat-form-field>
        </mat-card-content>
    </form>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="save()" [disabled]="registerForm.invalid">
            Salvar
        </button>
    </mat-card-actions>
</mat-card>

<div class="table-container">
    <mat-table [dataSource]="myCompanies">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Cliente ID</mat-header-cell>
            <mat-cell *matCellDef="let company"> {{ company.id }}
                <mat-icon matSuffix>edit_note</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Cliente</mat-header-cell>
            <mat-cell *matCellDef="let company"> {{ company.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
            <mat-cell *matCellDef="let company"> {{ company.user.email }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['id', 'name', 'email']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['id', 'name', 'email'];" (click)="selectCompany(row)"></mat-row>
    </mat-table>
</div>


