<h3 class="title">Cadastrar Status</h3>
<mat-divider class="divider"></mat-divider>

<mat-card class="mat-elevation-z8 entry-card">
    <form [formGroup]="registerForm" class="entry-form">
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <input matInput formControlName="name">
                <mat-icon matSuffix>add_task</mat-icon>
                <mat-error *ngIf="registerForm.get('name')?.hasError('required')">
                    Status Name is required.
                </mat-error>
                <mat-error *ngIf="registerForm.get('name')?.hasError('maxlength')">
                    Status Name must not exceed 30 characters.
                </mat-error>
            </mat-form-field>
        </mat-card-content>
    </form>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="save()" [disabled]="registerForm.invalid">
            Salvar
        </button>
    </mat-card-actions>
</mat-card>

<div class="table-container">
    <mat-table [dataSource]="allStatus">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let status"> {{ status.id }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
            <mat-cell *matCellDef="let status"> {{ status.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Editar</mat-header-cell>
            <mat-cell *matCellDef="let status">
                <mat-icon matSuffix>edit_note</mat-icon>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['id', 'name', 'email']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['id', 'name', 'email'];" (click)="selectStatus(row)"></mat-row>
    </mat-table>
</div>


