.login-card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;

  background-color: #3f4042;
  color: #dfe3ea;
  border-radius: 0;
  box-shadow: 0 8px 15px rgba(143, 141, 141, 0.2);  // Darker, more pronounced shadow
}

.login-card-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form mat-form-field {
  margin-bottom: 10px;
}

.login-actions {
  text-align: center;
}
