<mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav *ngIf="isAuthenticated" #sidenav mode="side" [opened]="true">
        <mat-list>
            <mat-list-item class="left-menu" *ngFor="let nav of navs">
                <button mat-button [routerLink]="nav.route" matTooltip="{{ nav.label }}">
                    <mat-icon>{{ nav.icon }}</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content>
        <!-- Toolbar -->
        <mat-toolbar *ngIf="isAuthenticated" class="toolbar" color="primary">
            <span class="app-name">Control Tech</span>
            <span class="app-context"></span>

            <button mat-button (click)="profile()">
                <span class="user-name">{{ email }}</span>
                <mat-icon class="user-icon">account_circle</mat-icon>
            </button>

            <button mat-button (click)="logout()">
                <mat-icon class="logout">logout</mat-icon>
            </button>
        </mat-toolbar>

        <!-- Tab Navigation -->
        <mat-tab-group *ngIf="isAuthenticated" [(selectedIndex)]="activeTabIndex" (selectedIndexChange)="onTabChange($event)">
            <mat-tab *ngFor="let nav of navs">
                <ng-template mat-tab-label>
                    <span  class="tab-label">{{ nav.label }}</span>
                </ng-template>
            </mat-tab>
        </mat-tab-group>

            <!-- Content Section -->
        <section class="content">
            <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
            <router-outlet></router-outlet>
        </section>

        <!-- Footer -->
        <footer>
            {{ date | date: 'longDate' }} <span class="lastUpdate"></span>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
