$dark: #3f4042;
$light: #fefefe;
$light-darkened: lighten($dark, 10%);
$light-darker: lighten($dark, 15%);
$darkened: darken($dark, 10%);

.device-register-container {
  width: 80%;
}

.form-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .form-row {
    display: flex;
    gap: 20px;

    mat-form-field {
      flex: 1;
    }

    .description-field {
      width: 100%;
    }
  }

  button {
    align-self: flex-start;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: $light-darkened;
    color: $light;
    transition: background-color 0.3s;

    &:hover {
      background-color: $light-darker;
    }

    &:disabled {
      background-color: $darkened;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .mat-mdc-card {
    border-radius: 0;
    background-color: white;
    color: $dark;
  }

  .label-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .label-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
  }

  .label-columns {
    border-top: 1px solid $dark;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .label-column {
    margin-top: 10px;
    margin-bottom: -10px;
    flex: auto;
    display: flex;
    flex-direction: column;
  }

  .qr-column {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .label-qrcode {
    margin: -9px 0;
  }
}

#label-container {
  display: flex;
  justify-content: center;
}

.button-row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  button {
    width: auto; // Ensure buttons are only as wide as needed
    max-width: 200px; // Optional: set a max width to prevent it from growing too large
    text-align: center;

    &.print-button {
      display: flex;
      align-items: center;
      justify-content: center;

      .printer-icon {
        margin-left: 8px;
      }
    }
  }
}

