$dark: #3f4042;
$light: #fefefe;

.title {
  padding-left: 50px;
  color: #dfe3ea;
}

.divider {
  padding-left: 40px;
}

.device-register-container {
  justify-content: center;
  padding: 20px;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  background-color: $dark;
  color: $light;

  @media (max-width: 768px) {
    flex-direction: column;
  }

}

.custom-form .mat-placeholder,
.custom-form .mat-label {
  color: rgba(255, 255, 255, 0.6);
}

.form-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .form-row {
    display: flex;
    gap: 20px;

    mat-form-field {
      flex: 1;
    }

    .description-field {
      width: 100%;
    }
  }

  button {
    align-self: flex-start;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: lighten($dark, 10%);
    color: $light;
    &:hover {
      background-color: lighten($dark, 15%);
    }
    &:disabled {
      background-color: darken($dark, 10%);
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .mat-mdc-card {
    border-radius: 0;
    background-color: white;
    color: $dark;
  }

  .label-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .label-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
  }

  .label-columns {
    border-top: 1px solid $dark;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
  }

  .label-column {
    margin-top: 10px;
    margin-bottom: -10px;
    flex: auto;
    display: flex;
    flex-direction: column;
  }

  .qr-column {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .label-qrcode {
    margin-bottom: -9px;
    margin-top: -9px;
  }
}
