/* You can add global styles to this file, and also import other style files */


html, body {
  margin: 0;
}

.content {
  min-height: 100vh;
}

mat-sidenav {
  border: none !important;  /* Removes any border */
  box-shadow: none !important;  /* Removes any shadow */
  border-radius: 0 !important;  /* Removes rounded corners */
}

